$pathToFontsFolder: '../fonts/';
/*
@font-face {
	font-family: 'Ubuntu';
	src: url($pathToFontsFolder + 'ubuntu/Ubuntu-Regular.eot');
	src: url($pathToFontsFolder + 'ubuntu/Ubuntu-Regular.woff2') format('woff2'),
	url($pathToFontsFolder + 'ubuntu/Ubuntu-Regular.woff') format('woff'),
	url($pathToFontsFolder + 'ubuntu/Ubuntu-Regular.ttf') format('truetype'),
	url($pathToFontsFolder + 'ubuntu/Ubuntu-Regular.svg#Ubuntu') format('svg'),
	url($pathToFontsFolder + 'ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
*/
